@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Righteous|Roboto');
*{margin:0;border:0;}



header{
	width: 100%;
	height: 300px;
	padding-bottom: 200px;
}

img{
	width: 100%;
	height: 500px;
}

#maps{
	text-align: center;
	margin-top: 30px;
}

nav{
	background-color: orange;
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	border-bottom: 1px;
	border-style: solid;

}

a{
	color:#f05545;
	font-family: 'Righteous', cursive;
	font-size: 1.3em;
	text-decoration: none;
	text-decoration: underline;
}

.amenu{
	color: #000000;
	margin-right: 20px;
	padding: 10px;

}

.amenu:hover{
	background-color: white;
	border-radius: 20px;
	padding: 10px;

}

.amenu:active{
	background-color: #757575;

}

article{
	background-color: #F0F0F0;
	padding: 20px;
}

#mapa {
        height:400px;
        width:400px;
      }

h1, h2{
	text-align: right;
	font:3em 'Righteous', cursive;
	color: #e65100;
}

p{
	font:1.3em 'Quicksand', sans-serif;
	text-align: justify;
	margin-bottom: 10px;
	text-indent: 50px;
}





#pag_promo{
	background-color: white;
	padding: 20px;
}

table{
	margin-bottom: 50px;
	width: 100%;
}

th{
	font:1.5em 'Righteous', cursive;
}

.galeria img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#lanches{
	 font:1.9em 'Righteous', cursive;
	font-weight: bold;
	color: #e65100;
	padding: 50px;

}

#imgs{
	width: 100%;

}

.img-pro{
	height: 260px;
	width: 280px; 
	background-color: white;
	border-radius: 80px;
	padding: 5px;
}

#nomes{
     font:1.5em 'Righteous', cursive;
	font-weight: bold;
	color: #e65100;
	
}

#off{
	font:1.5em 'Righteous', cursive;
	font-weight: bold;
	color: #e65100;
	padding: 50px;
	
}





td{
	text-align: center;
}

#pag_card{
	background-color: orange;
	padding: 20px;
}

h2{
	margin-bottom: 20px;
}

li{
	font:1.3em 'Quicksand', sans-serif;
	color: #FFF;
	margin-bottom: 5px;
}

.vl{ 
	font:1.2em 'Quicksand';
	color: black;
	
	
 }

#btn{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 50px;
	bottom: 30px;
	border-radius: 20px;


}

footer{
	background-color: black;
	padding: 5px;
}

footer p, a{
	color: #FFF;
	text-align: center;
	size: 1em;
}

.form-control {
	box-shadow: 3px 3px 10px black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  width: 400px;
  
}
#cpNome{
	box-shadow: 3px 3px 10px black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  width: 400px;
}
#cpTel{
	box-shadow: 3px 3px 10px black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  width: 200px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #FBB448;
}
#btnEnviar{
	box-shadow: 3px 3px 10px black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;


}
#btnEnviar.efeito{
	
	background: orange;
	
	


}
#btnEnviar:active, #btnEnviar:focus {
	outline: none;
	box-shadow: none;
	border-color: #FBB448;
  }

  #btnCancelar{
	box-shadow: 3px 3px 10px black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;


}
#btnCancelar.efeito{
	
	background: orange;
	
	


}
#btnCancelar:active, #btnCancelar:focus {
	outline: none;
	box-shadow: none;
	border-color: #FBB448;
  }  

#nomedo{
	text-align: center;
	font:3em 'Righteous', cursive;
	color: #e65100;
}

#fazerPedido{
	font:1.5em 'Righteous', cursive;
	font-weight: bold;
	color: black;
	transition: 2s;
	right: 50px;
	bottom: 30px;
	background: orange;

	

}

#fazerPedido.efeito{
	color:white;
	font-size:3em;


}
#btnSomar{
	box-shadow: 3px 3px 10px black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;


}
#btnSomar.efeito{
	
	background: orange;
	
	


}
#btnSomar:active, #btnSomar:focus {
	outline: none;
	box-shadow: none;
	border-color: #FBB448;
  }

#frase{
	color:#e65100;
	font-size:2em;
}

#res{
  box-shadow: 3px 3px 10px black;
  background: white;
  border-radius: 20px;
  width: 590px;
  position: relative;
  left: 45px;
  padding: 5px;
  font:1.9em 'Quicksand', sans-serif;
  margin-bottom: 5px;
}




